@import "tailwindcss";

html, body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; /* for older WebViews */
}



@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}
.station-dot {
  -webkit-text-size-adjust: none !important; 
  text-size-adjust: none!important;
}

.station-label {
  font-size: 1px !important;
  line-height: 1;
  display: inline-block;
  -webkit-text-size-adjust: none !important;
  text-size-adjust: none !important;
}

@media (min-width: 768px) {
  .station-label {
    font-size: 3px !important;
  }
}

@media (min-width: 1280px) {
  .station-label {
    font-size: 4px !important;
  }
}




